<%= simple_form_for @contest, :html => {:multipart => true } do |f| %>
  <%= f.input :title %>
  <%= f.input :body %>
  <%= f.input :prize %>
  <%= f.input :end_date, collection: ["3 days", "5 days", "7 days", "10 days"] %>
  <%= f.label :category %>
  <br>
  <%= f.collection_select :category_id, Category.order(:name), :id, :name %>
  <br>

<div id="user_images">
    <%= f.label :image , "Upload image:" %>
  <%= f.file_field :image%>
</div>

<h2>Upload image</h2>

<%= f.submit class: "btn btn-primary" %>

<% end %>

<!--
<script>
$(function() {
  $( "#datepicker" ).datepicker({
    inline: true
  });
});
</script> -->




<%#= f.input :end_date, as: :string, input_html: {id: "datepicker"}  %>
