<%= simple_form_for @contest do |f| %>
  <%= f.input :title %>
  <%= f.input :body %>
  <%= f.input :prize %>
  <%= f.input :end_date, collection: ["3 days", "5 days", "7 days", "10 days"] %>
  <%= f.label :category %>
  <%= f.collection_select :category_id, Category.order(:name), :id, :name %>
<div id="user_images">
  <%= f.file_field :image%>
</div>
<h2>Upload images</h2>
<%= f.submit class: "btn btn-primary" %>

<% end %>


<script>
$(function() {
  $( "#datepicker" ).datepicker({
    inline: true
  });
});
</script>




<%#= f.input :end_date, as: :string, input_html: {id: "datepicker"}  %>
