<h1>Featured Contest</h1>
<%= simple_form_for @contest, :html => {:multipart => true } do |f| %>
  <%= f.input :title %>
  <%= f.input :body %>
  <%= f.input :prize %>
  <%= f.input :featured, as: :hidden, input_html: {value: "true"} %>
  <%= f.input :end_date, collection: ["3 days", "5 days", "7 days", "10 days"] %>
  <%= f.label :category %>
  <%= f.collection_select :category_id, Category.order(:name), :id, :name %>

  <h2>Upload images</h2>
<div id="user_images">
  <%= f.label :image, "Upload images:" %>
  <%= f.file_field :image, multiple: true, name: "contest[image]" %>
</div>

<div class="links">
  <%= link_to_add_association 'Add image', f, :user_images %>
</div>
<%= f.submit class: "btn btn-primary" %>
<% end %>

<script>
$(function() {
  $( "#datepicker" ).datepicker();
});
</script>

<!-- <div id="user_images"> -->

  <%#= f.simple_fields_for :user_images do |i| %>
  <%#= render 'user_image_fields', f: i %>
  <%# end %>
<!-- </div> -->
