<h1>Featured Contest</h1>
<%= simple_form_for @contest do |f| %>
  <%= f.input :title %>
  <%= f.input :body %>
  <%= f.input :prize %>
  <%= f.input :featured, as: :hidden, input_html: {value: "true"} %>
  <%= f.input :end_date, as: :string, input_html: {id: "datepicker"}  %>
  <%= f.label :category %>
  <%= f.collection_select :category_id, Category.order(:name), :id, :name %>
  <%= f.file_field :images , multiple: true %>
<h2>Upload images</h2>
<div class="links">
  <%= link_to_add_association 'Add image', f, :user_images %>
</div>
<%= f.submit class: "btn btn-primary" %>
<% end %>

<script>
$(function() {
  $( "#datepicker" ).datepicker();
});
</script>

<!-- <div id="user_images"> -->

  <%#= f.simple_fields_for :user_images do |i| %>
  <%#= render 'user_image_fields', f: i %>
  <%# end %>
<!-- </div> -->
