<h1><%= @contest.title %></h1>
<p><%= @contest.body %></p>
<p><%= @contest.prize %></p>
<% if @contest.end_date && @contest.end_date >= DateTime.now %>
<% d = @contest.end_date - 25200 %>
<p><%= d.strftime("%Y/%m/%d %H:%M")  %></p>
<% end %>


<% if can? :edit, @contest %>
  <%= link_to "Edit", edit_contest_path(@contest) %>
<% end %>

<% if can? :destroy, @contest %>
  <%= link_to "Delete", contest_path(@contest), method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>

<% if @contest.image.present? %>
  <%= image_tag @contest.image.url(:large) %>
<% end %>



<% if can? :delete, @contest %>
  <% user_entry = @contest.entry_for(current_user) %>
    <% if user_entry && user_entry.entered? %>
    <%= link_to "Un-do entry", contest_entry_path(@contest, user_entry),
                               method: :delete %>
    <% end %>

<% elsif user_entry  %>

  <% user_entry = @contest.entry_for(current_user) %>

  <% if user_entry && user_entry.entered? %>
    <%= link_to "Enter Contest", contest_entry_path(@contest, user_entry, {entry: {entered: true}}), method: :patch  %>
<% end %>

<% else %>

  <%#= link_to "Enter Contest", contest_entries_path(@contest, {entry: {entered: true}}), method: :post, :class => "btn btn-primary", :'data-popup-open' => 'popup-1', remote: true %>

<% if @contest.end_date && @contest.end_date >= DateTime.now %>
<a class="btn btn-primary" data-popup-open="popup-1" href="#"><strong>Enter Contest</strong></a>


<div class="popup" data-popup="popup-1">
    <div class="popup-inner">
        <h2>Hello</h2>
        <h3>Good Luck!</h3>

        <span><%= link_to "Yes", contest_entries_path(@contest, {entry: {entered: true}}), method: :post, class: "btn btn-primary", :'data-popup-open' => 'popup-1' %></span>

        <span><a data-popup-close="popup-1" href="#", class="btn btn-primary">Maybe later</a></span>


    </div>
</div>

(<%= @contest.entry_value %>)
<% end %>
<% end %>
