<div class="container-fluid">
  <h2>Live Contests</h2>
  <table class="table table-hover" id="admin-table">
    <thead>
      <tr>
        <th class="col-md-4 col-sm-4">Contests</th>
        <th class="col-md-3">Actions</th>
        <th class="col-md-2">Time Ending</th>
        <th class="col-md-2 col-sm-2">Number of entries</th>
      </tr>
    </thead>
    <tbody>
      <% @live.each do |c| %>
      <div>
        <tr>
          <td><%= link_to c.title, contest_path(c) %></td>
          <td><%= link_to "Show", contest_path(c) %> |
              <%= link_to "Edit", edit_contest_path(c)%> |
              <%= link_to "Delete", contest_path(c),
              data: {confirm: "Are you sure?"},
              method: :delete%></td>
          <td><% if c.end_date && c.end_date >= DateTime.now %>
                <% d = c.end_date - 25200 %>
                <strong><%= d.strftime("%Y/%m/%d %H:%M")%></strong>
              <% else %>
                <%= "finished" %>
              <% end %></td>
          <td><span class="label label-default label-pill pull"><%= c.entry_value %></span></td>
      </div>
          <% end %>
          <%= paginate @live, param_name: :live_page %>
          <%= page_entries_info @live %>
        </tr>
    </tbody>
  </table>
</div>
