<ul class="nav navbar-nav navbar text-center">
<%= link_to "Home", root_path %>
|
<%= link_to "About", about_path %>
|
<%= link_to "Index", contests_path %>
|
<%= link_to "Create Contest", new_contest_path %>
|
<% if user_signed_in? %>

Hello <%= current_user.first_name == "n/a" ? current_user.company_name.titleize : current_user.first_name.titleize %>
|
<%= link_to "Edit User", edit_user_path(current_user) %>

<%= link_to "Log out", sessions_path, method: :delete %>
<% else %>
<%= link_to "Sign In", new_session_path %>
|
<%= link_to "Sign In With Twitter", sign_in_with_twitter_path %>
|
<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
|
<%= link_to "Sign Up", new_user_path %>
</ul>

<a data-popup-open="popup-1" href="#"><strong>Sign In</strong></a>

<div class="popup" data-popup="popup-1">
  <div class="popup-inner">

    <h2><center>Sign In</center></h2>

    <div class="col-sm-6 sign_in_modal">
      <%= link_to sign_in_with_facebook_path, id: "sign_in", class:"btn btn-block btn-social btn-facebook" do %>
      <span class="fa fa-facebook"></span><span>Sign In With Facebook</span>
      <% end %>


      <%= link_to sign_in_with_twitter_path, class:"btn btn-block btn-social btn-twitter" do %>
      <span class="fa fa-twitter"></span><span>Sign In With Twitter</span>
      <% end %>

      <a class="btn btn-block btn-social btn-google">
        <span class="fa fa-google-plus-square"></span> Sign in with Google</a>
        <br>
        <div class="form-group row_modal">
          <p><a data-popup-close="popup-1" href="#">Close</a></p>
        </div>
      </div>


      <div class="col-sm-6">
        <%= simple_form_for :session, {url: sessions_path } do |f| %>
        <%= f.input :email, label: false, placeholder: 'Email', required: true, input_html: { class: "form-control-modal"} %>
        <%= f.input :password, label: false, placeholder: 'Password', required: true, input_html: { class: "form-control-modal"} %>
        <%= f.submit class: "btn btn-primary" %>

        <% end %>
        <br>
        <div class="form-group row_modal">
          <%= link_to "Forgot password?", new_password_reset_path %>
        </div>

        <div class="form-group row_modal">
          Need an account? <%= link_to "Sign Up", new_user_path %>
        </div>
      </div>

      <div>


        <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
      </div>
    </div>
  </div>
  <% end %>
