<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>



</head>
<body>
    <%= render 'layouts/facebook_script' %>

  <div class="container">
    <%= render 'layouts/top_nav_links' %>

    <% if notice %>
    <div class="alert alert-success"><%= notice %></div>
    <% elsif alert %>
    <div class="alert alert-danger"><%= alert %></div>
    <% end %>
  <%= yield %>
</div>
<br>
  <%= render 'layouts/footer' %>



</body>
</html>
